
%h1 Administrative functions
%ul
  %li
    = link_to "View Reports", reports_path
  %li
    = link_to "Delete/View individual responses", responses_path
  %li
    = link_to "Add/Delete/Edit/View individual categories", categories_path
  %li
    = link_to "Manage administrative users", users_path
