// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lred: #FF9F9F;
$mred: #FF7C7C;
$dred: #FF2B2B;

$lgreen: #BBFCBF;
$mgreen: #90FC97;
$dgreen: #2BFF38;

$lyellow: #FFFFB0;
$myellow: #FFFF8A;
$dyellow: #FFFF26;

$border: #ccc;

$background: #FDFDFD;

body#rails-misc-thanks, body#rails-responses-new, body#rails-responses-create {

  background-color: $background !important;
  text-align: center;
  font-size: smaller;

  * {
    font-family: 'Lato', sans-serif !important;

    // Prevent the touch terribleness
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }

  #header1 {
    margin-bottom: 0;
  }

  #header2 {
    margin-top: 0;
  }

  #error_explanation {
    color: $dred;
    text-align: left;
  }

  h3 {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
  }

  * {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  #nameemail {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  #nameemail input {
    width: 100% !important;
  }

  .qtxt {
    padding-top: 1.5em;
  }

  .boxspace {
    height: 7.5em;
  }

  input, button, textarea, .pure-button {
    font-size: 12pt;
  }


  textarea {
    width: 100%;
  }

  input, textarea {
    -webkit-touch-callout:default;
    -webkit-user-select:all;
    -khtml-user-select:all;
    -moz-user-select:all;
    -ms-user-select:all;
    user-select:all;
  }

  #rating {
    padding: 0 !important;

    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;

    -webkit-transition: .3s linear border;
    -moz-transition: .3s linear border;
    -ms-transition: .3s linear border;
    -o-transition: .3s linear border;
    transition: .3s linear border;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: block;
    cursor: pointer;
    overflow: hidden;

    background-color: $lyellow;

    .box {
      display: inline;
      float: left;

      // Magical width hacks
      width: 33%;
      width: -webkit-calc(100% / 3) !important;
      width: -moz-calc(100% / 3) !important;
      width: calc(100% / 3) !important;

      height: 100%;
      text-decoration: none;

      padding: 1em;

      text-align: center;

      .img {
        opacity:0.5;
        filter:alpha(opacity=50);
      }

      .text {
        height: 50%;
        padding-top: 1em;

        opacity:0.5;
        filter:alpha(opacity=50);

        margin-top: 0;
        font-size: 12pt;

        color: black;
      }
    }

    .box.selected {
      .text p {
        font-weight: bold;
      }

    }



    .box:hover, .box:focus, .box.selected {
      .img {
        opacity:1;
        filter:alpha(opacity=100);
      }

      .text {
        opacity:1;
        filter:alpha(opacity=100);
        color: black;
      }
    }

    #bad, #good {
      img {
        width: 0px;
        height: 0px;

        padding-right: 28px;
        padding-bottom: 36px;

        background-size: 28px 36px;
      }
    }

    #bad {
      background-color: $lred;
      border-right: 1px solid $border;

      img {
        background: image-url('thumbsdown.png');
      }
    }

    #bad:hover, #bad:focus {
      background-color: $mred;
    }

    #bad.selected {
      background-color: $dred;
    }

    #avg {
      width: 34%;

      background-color: $lyellow;

      .img {
        margin-top: 0.4em;
        margin-bottom: 0.25em;

        width: 0px;
        height: 0px;

        padding-right: 38px;
        padding-bottom: 28px;

        background-size: 38px 28px;
        background: image-url('thumbsside.png');
      }
    }

    #avg:hover, #avg:focus {
      background-color: $myellow;
    }


    #avg.selected {
      background-color: $dyellow;
    }

    #good {
      background-color: $lgreen;
      border-left: 1px solid $border;
      float: right;

      img {
        background: image-url('thumbsup.png');
      }
    }

    #good:hover, #good:focus {
      background-color: $mgreen;
    }

    #good.selected {
      background-color: $dgreen;
    }

    @media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi)
    {

      #bad .img {
        background: image-url('thumbsdown-md.png');
        background-size: 28px 36px;
      }

      #good .img {
        background: image-url('thumbsup-md.png');
        background-size: 28px 36px;
      }

      #avg .img {
        background: image-url('thumbsside-md.png');
        background-size: 38px 28px;
      }

    }

  }

}