#container {
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;

  padding: 1em;
}

#intro {
  font-style: italic;
}

.clear {
  clear: both;
}

body {
  padding: 1em;
}

.browser-compat-warn {
  color: red;
}